@import url('https://fonts.googleapis.com/css?family=Comic+Neue:700&display=swap');
body {
  margin: 0;
  background-color:#94c6ff;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.page-links {
  color: white;
}

.page-links:hover {
  text-decoration: none;
}

.cards {
  border-radius: 5px;
}

.nav-link h6:hover {
  color: black !important;
  background-color: #94c6ff;
  padding: 5px;
  border-radius: 15px;
  text-align: center;
}

nav-item a:hover {
  color: black !important;
  background-color: #94c6ff;
}

#homePage {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  justify-content: center;
  background-image: url("https://hdwallsource.com/img/2014/2/gif-wallpaper-32368-33113-hd-wallpapers.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
 #homePage section {
  font-family: 'Comic Neue', cursive;
  color: white !important;
  font-size: 40px;
 }

#homePage h1 {
  color:white;
}

#homePage img {
  border-radius: 100px;
  height: 200px;
  width: 200px;
}


#basic-navbar-nav{
  color: white;
}

@media only screen and (max-width: 550px){
 #homePage section{
    display: flex;
    flex-direction: column;
    align-self: flex-start !important; 
    justify-self: flex-end !important;
    color: white !important;
    font-size: larger;
    font-family: 'Comic Neue', cursive; 
    
  }

} 


@media only screen and (max-width: 768px){
  #homePage section{
     display: flex;
     flex-direction: column;
     align-self: flex-start !important; 
     color: white !important;
     font-size: larger;
     font-family: 'Comic Neue', cursive; 
     
   }
 
 } 

 .arrow{
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.arrow span{
  display: block;
  width: 30px;
  height: 30px;
  border-bottom: 5px solid #FFFF;
  border-right: 5px solid #FFFF;
  transform: rotate(45deg);
  margin: -10px;
  animation: animate 2s infinite;
}
.arrow span:nth-child(2){
  animation-delay: -0.2s;
}
.arrow span:nth-child(3){
  animation-delay: -0.4s;
}
@keyframes animate {
  0%{
      opacity: 0;
      transform: rotate(45deg) translate(-20px,-20px);
  }
  50%{
      opacity: 1;
  }
  100%{
      opacity: 0;
      transform: rotate(45deg) translate(20px,20px);
  }
}

.project-card{
  margin: 2px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height: 300px;
  font-size: 12px;
}

.project-img{
  width: 100%;
  margin: 2px;
  height: 50%;
}
.project-card-body{
  text-align: center;
  padding: 5px;
}

.project-card-footer{
  display: flex;
  /* align-items: center;
  flex-direction: column; */
  justify-content: center;
}

.project-card-btns{
  background-color: #1e4e79;
  margin: 2px;
  padding: 7.5px 12.5px;
  color: white;
  border-radius: 2px;
  border: none;

}