body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
 .page-links{
   color: white;
 }

 .page-links:hover{
   text-decoration: none;
 }

 .cards{
  border-radius: 5px;
}


.nav-link h6:hover{
  color: black !important;
  background-color: white;
  padding: 5px;
  border-radius: 15px;
  text-align: center;
}

nav-item a:hover{
  color: black !important;
  background-color: white;

}

#homePage{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  justify-content: center;
}

#homePage h1{
  color: black;
  z-index: 100;
}

#homePage img{
  border-radius: 100px;
  height:200px;
  width: 200px;
}